@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

h1{
  font-size: 2.5em;
  margin: 0;
  font-family: "Noto Serif SC", serif;
}

.title{
  font-size: 2.5em;
  margin: 0;
  font-family: "Noto Serif SC", serif;
  color: #AEA186;
}

.userIdentification{
    font-size: 1.5em;
    margin: 0;
    font-family: "Noto Serif SC", serif;
    color: #73735F;
}

/* Colors */
.dutchWhite{
  color:#EEDEB7;
}

.ResedaGreen{
  color:#73735F;
}
.cosmicLatte{
  color:#FCF5E2;
}
.khaki{
  color:#AEA186;
}
.ashGray{
  color:#B7B9A2;
}


.noto-serif-sc {
  font-family: "Noto Serif SC", serif;
}